</!DOCTYPE html>

<html>


<head>
    <title>404</title>
    <link rel="icon" href="/image/Error.png">
    <link rel="StyleSheet" href="/css/styles.css">
    


</head>


<body>
    <div class="main-content">
        {{>header}}
    <p>{{ErrorMessage}}</p>

    </div>
    
    
        {{>footer}}
</body>


</html>