<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/image/cloud.jpg">
        <link rel="StyleSheet" href="/css/about-style.css">
        <body>
            <div class="main-content">
                {{>header}} 

                <h1>Party At 11PM!!</h1>
                 <p>You Are Here!!</p>
                 <p>Lets Partyyy!!!</p>

                 

                
                
            </div>
            
            
            {{>footer}}
            
            
        </body>

        
            
        
    </head>
</html>