<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/image/help.png">
        <link rel="StyleSheet" href="/css/help-style.css">
        <body>
            <div class="main-content">
                 {{>header}}

                <h1>HELP ME</h1>
                 <p> {{HelpText}}</p>
            </div>
           
                {{>footer}}
             
                
        </body>
    </head>
</html>