<!DOCTYPE html>
<html>
    <head>
        <title>More</title>
        <link rel="icon" href="/image/robot.jpg">
        <link rel="StyleSheet" href="/css/more-style.css">
        <body>
            <div class="sec-content">
                {{>header}} 

                <h1>I need More help</h1>
                <p>
                    Will You Help??
                </p>
            </div>
        </body>
        {{>footer}}
    </head>
</html>